
/*
Portfolio pessoal Jonas
Css de estilo da página
*/

/* estilo Corpo */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #E0FFFF;
  color: #333;
}

/* estilo Cabeçalho */

header {

  background-color: #2F4F4F;
  padding: 25px;
}

nav {
  text-align: center;
}

nav a {
  color: white;
  margin: 0 18px;
  text-decoration: none;
  font-size: 20px;
}

nav a:hover {
  text-decoration: underline;
}

main {
  padding: 20px;
}

/* estilo do Formulario */

form {
  background-color: #fff;
  padding: 20px;
  max-width: 500px;
  margin: auto;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

input, textarea {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
